h5{
    text-align: center;
}
h1{
    text-align: center;
}
.titles{
  padding-top: 10%;
  padding-bottom: 10%;
}

.padding-top-20{
    padding-top: 20px;
}
.button-full-width{
  width: 100%;
  color: white;
}
.md-tab-body-wrapper{
  height: 500px;
}
md-sidenav-layout{
  height: 100vh;
}
md-sidenav-layout.m2app-dark {
  background: black;
  color:white;
}

.m2app-dark .card{
  background-color: #424242;
}
.md-dialog-container{
  background-color:black;
}
.m2app-dark .list-group{
  background-color: #424242;
}
.m2app-dark ng2-auto-complete{
  background-color: #424242;
}

.md-tab-body-active{
  overflow-x: visible !important;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 255, 0) !important;
}
