<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
  Sidenav
</md-sidenav>
<md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    {{title}}

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>
<div class="app-content">
  <input ng2-auto-complete
            [source]="heroes"
            [(ngModel)]="selectedHero"
            placeholder="enter text"
            value-property-name="null"
            display-property-name="name"/>

  <md-card *ngIf="selectedHero.id > 0">
    <md-card-title-group>
      <img attr.src="{{selectedHero.img}}">
      <md-card-title>{{selectedHero.name}}</md-card-title>
      <md-card-subtitle>{{selectedHero.type}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <p>
      {{selectedHero.text}}
      </p>
    </md-card-content>
  </md-card>
      <md-grid-list cols="4">
         <md-grid-tile *ngFor="let hero of heroes">
      <md-card>
        <md-card-title-group>
         <img attr.src="{{hero.img}}">
         <md-card-title>{{hero.name}}</md-card-title>
         <md-card-subtitle>{{hero.type}}</md-card-subtitle>
       </md-card-title-group>
         <md-card-content>
           <p>
             {{hero.text}}
           </p>
         </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
