<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
  Sidenav
</md-sidenav>
<md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    {{title}}

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>
  <div class="app-content">

  <md-tab-group>
    <md-tab label="Counter pick">
      <div class="wrapper-overflowbug">
        <md-card class="app-input-section">
          <md-input ng2-auto-complete
                    style="width:100%"
                    [source]="heroes"
                    [(ngModel)]="selectedHero"
                    placeholder="what hero do you wan't to counter?"
                    value-property-name="null"
                    display-property-name="name"></md-input>
        </md-card>
        <div class="row">
          <div class="col-md-4 titles" *ngIf="selectedHero.id > 0">
                    <h5>To counter</h5>
                    <h1>{{selectedHero.name}}</h1>
                    <h5>you can pick</h5>
            </div>
          <div class="col-md-8">
          <div class="row"  *ngIf="selectedHero.id > 0">

          <div class="col-sm-6 col-md-4" *ngFor="let hero of selectedHero.isCounterBy">
            <div class="card">
              <img class="card-img-top img-fluid" attr.src="{{hero.img}}" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{hero.name}}</h4>
                <p>{{hero.type}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>

    </md-tab>
    <md-tab label="Team comp">
      <md-card *ngIf="meta">
        <p>The current meta is : {{meta.DPS}} DPS + {{meta.DEFF}} Defence hero + {{meta.TANK}} Tank + {{meta.HEAL}} Heal</p>
        <p>You need a {{neededType}}</p>
      </md-card>
      <div class="col-sm-6 col-md-2" *ngFor="let teamHero of teamHeroes; let i = index">
        <div class="card">
          <img class="card-img-top img-fluid" attr.src="{{teamHero.img}}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{teamHero.name}}</h4>
          </div>
          <div class="card-block">
            <p>{{teamHero.type}}</p>
            <button md-raised-button (click)="selectTeamHero(i)">CHANGE HERO</button>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>

</div>
</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
